<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <h1>Green Fox Fashion Web Store</h1>
</div>
<div>
    <form th:action="@{'warehouse/additem'}" th:object="${itemToBuy}" method="post">
        <select >
            <option value="0" th:text="'select item name'" ></option>
            <option th:each="item : ${list}"
                    th:value="${item.itemName}"
                    th:value="${item.manufacturer}"
                    th:value="${item.category}"
                    th:text="${item.unitPrice}"></option>
        </select>
        <select>
            <option value="s">s</option>
            <option value="m">m</option>
            <option value="l">l</option>
            <option value="xl">xl</option>
            <option value="xxl">xxl</option>
        </select>
        <input type="hidden" th:field="*{manufacturer}" th:value="${item.manufacturer}"/>
        <input type="hidden" th:field="*{category}" th:value="${item.category}"/>
        <input type="hidden" th:field="*{unitPrice}" th:value="${item.unitPrice}"/>
        <input type="hidden" th:field="*{id}" th:value="${item.id}"/>
        <input type="number" name="quantity"/>
        <button type="submit" value="Submit">Get Total</button>
 <!--       <select >
            <option value="0" th:text="'Select item name'" ></option>
            <option th:text="'s'" th:value="'s'" th:field="*{size}"></option>
            <option th:text="'m'" th:value="'m'" th:field="*{size}"></option>
            <option th:text="'l'" th:value="'s'" th:field="*{size}"></option>
            <option th:text="'xl'" th:value="'xl'" th:field="*{size}"></option>
            <option th:text="'xxl'" th:value="'xxl'" th:field="*{size}"></option>
        </select>-->

    </form>
    <table>
        <thead>
        <tr align="left">
            <th th:text="'Item name'"></th>
            <th th:text="'Manufacturer'"></th>
            <th th:text="'Category'"></th>
            <th th:text="'Size'"></th>
            <th th:text="'Unit price'"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cloth : ${list}" th:object="${cloth}">
            <td th:text="*{itemName}"></td>
            <td th:text="*{manufacturer}"></td>
            <td th:text="*{category}"></td>
            <td th:text="*{size}"></td>
            <td th:text="*{unitPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>